<footer>
    <form action="/contact" method="POST">
        <input placeholder="Name" type="text" name="name" id="">
        <input placeholder="E-Mail" type="email" name="email" id="">
        <input placeholder="Telefon" type="text" name="phone" id="">
        <textarea placeholder="Deine Nachricht" name="body" id="" cols="30" rows="10"></textarea>
        <button type="submit">Abschicken</button>
    </form>
    <div></div>
</footer>