<footer>
    <form id="contact" action="/contact" method="POST">
        <h1>Kontakt</h1>
        <input placeholder="Name" type="text" name="name" id="">
        <input placeholder="E-Mail" type="email" name="email" id="">
        <input placeholder="Telefon" type="text" name="phone" id="">
        <textarea placeholder="Deine Nachricht" name="body" id="" cols="30" rows="10"></textarea>
        <div class="text-box">
            <button type="submit">Abschicken</button>
            <!-- <a href="#" >Abschicken</a> -->
        </div>
    </form>
    <div class="folgen">
        <h1>Folge uns!</h1>
        <div id="social">
            <img src="/instagram-brands 1.png" alt="">
            <img src="/facebook-square-brands 1.png" alt="">
            <img src="/twitter-square-brands 1.png" alt="">
            <img src="/youtube-square-brands 1.png" alt="">
        </div>
        <ul>
            <li><a href="/">Über uns</a></li>
            <li><a href="/companyProfileList">Alle Geschäfte</a></li>
            <li><a href="#">Impressum</a></li>
            <li><a href="#">AGB</a></li>
        </ul>
    </div>
</footer>