<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/style-not-found.css">
    <link rel="shortcut icon" href="/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Montserrat:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <header id="head">
        <h1 id="HH">Whoops, da ist etwas schief gelaufen!</h1>
        <p id="P">Hier ein paar interessante Links:</p>
    </header>
    <section id="hero">
        <div class="text-box">
            <a href="/" class="btn btn-white btn-animate">Home</a>
        </div>
        <div class="text-box1">
            <a href="/companyProfileList" class="btn btn-white btn-animate">Alle Geschäfte</a>
        </div>
        <div class="text-box">
            <a href="#" class="btn btn-white btn-animate">Blog</a>
        </div>
    </section>
    <img id="im" src="/undraw_warning_cyit 1.png" alt="">
</body>

</html>