<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a profile</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/3b1c75d67e.js" crossorigin="anonymous"></script>
</head>

<body>
    <section id="profile-form">
        <form action="/createCompanyProfile" method="POST">
            <input type="text" name="name" id="" placeholder="Name of your company">
            <input type="text" name="headline" id="" placeholder="What is your business?">
            <textarea name="story" id="" cols="30" rows="10" placeholder="Write your story"></textarea>
            <input type="text" name="cover_photo_url" id="" placeholder="Cover photo url">
            <input type="text" name="profile_photo_url" id="" placeholder="Profile photo url">
            <!-- <input type="text" name="support" id="" placeholder="Which type of support do you need?"> -->

            <input class="btn" type="submit" value="Submit">
        </form>
    </section>
</body>

</html>