<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FundPot</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                 <a href="/">LOGO</a>
                <li> <a href="/">Home</a></li>
                <li><a href="/companyProfileList">List</a></li>
                
                <li><a href="/createCompanyProfile">Create</a></li>
            </ul>
            <ul>
                <li><a href="/signup"></a>Sign Up</li>
                <li><a href="/login"></a>Log In</li>
            </ul>
              <form action="/search" method="POST">
                <input class="search" type="text" placeholder="Search" name="search">
                <button type="submit"><i class="fas fa-search"></i>Search</button>
            </form>
        </nav>
    </header>

    <h1>HOME</h1>
</body>
</html>