<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FundPot</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/3b1c75d67e.js" crossorigin="anonymous"></script>
</head>

<body>

    <%-include('./partials/nav')%>

    <section id="hero">
        <article id="heroA">
            <img id="heroI" src="./assets/Bilder/hero-img 1.png" alt="">
            <article id="heroB">
                <h1 id="heroH">Hilf dem lokalen Handel mit deiner Spende!</h1>
                <p id="heroP">Einleitungstext über die Webseite.
                    Lorem ipsum dolor sit amet, con sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
                </p>
                <div class="text-box">
                    <a href="#" class="btn btn-white btn-animate">Los gehts</a>
                </div>
            </article>
        </article>
    </section>
    <section id="release">
        <p id="releaseP">Are you ready to <span></span> rumble?</p>
        <div class="text-box marg">
            <a href="#" class="btn btn-white btn-animate">Profil erstellen</a>
        </div>
    </section>
</body>

</html>