<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/3b1c75d67e.js" crossorigin="anonymous"></script>
</head>


<body>

    <!-- add nav -->

    <section id="signup">
        <img src="/login.png" alt="">
        <h2>Sign up</h2>
        <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <form action="">
            <h3>oder nutze dein Konto</h3>
            <input type="text" name="email" id="" placeholder="Email">
            <input type="text" name="password" id="" placeholder="Password">
            <a class="link" href="#">Password vergessen?</a>
            <a class="btn" href="#">Sign up</a>
        </form>
        <h2>Hast du schon ein Konto?</h2>
        <a class="link" href="#">Log in hier</a>

    </section>
</body>

</html>