*{
    margin: 0;
    padding: 0;
}
#head{
    margin-top: 5vh;
}
#HH{
    font-family: 'Lobster Two', cursive;
    color: #6C63FF;
    text-align:center;
}
#P{
    font-family: Montserrat;
    line-height: 40px;
    text-align: center;
    font-size: 1.1em;
}
#hero{
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin:10vh 0 0 10%;
}
.text-box1{
    margin-right: 11% ;
}
.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
    background-color: #FF6584;
    color: white;
    font-family: 'Lobster Two', cursive;
    text-align: center;
    font-size: 1.3em;
    margin-left: 10%;
}
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btn-white::after {
    background-color: #6C63FF;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
#im{
    display: block;
    margin: 15vh auto 0vh auto;
    width: 38%;
}
@media only screen and (max-width: 320px) {
    #HH{
        font-size: 1.3em;
    }
    #P{
        font-size: 0.8em;
    }
    #im{
        width: 70%;
    }
    .btn:link{
        padding: 10px;
    }
    .btn-white {
        background-color: #FF6584;
        color: white;
        font-family: 'Lobster Two', cursive;
        text-align: center;
        font-size: 0.7em;
        margin-left: 10%;
    }
    #hero{
        margin: 10vh 0 0 5%;
    }
    .text-box1{
        margin-right: 18% ;
    }
  }
  @media only screen and (max-width: 768px) {
    #hero{
        margin: 10vh 0 0 5%;
    }
  }
